.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(0, 0, 0.9), rgba(0, 0, 0, 0.8)),
      url("/src/assets/images/banner-bg.gif");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  @media (width >= 768px) {
    .banner .banner__items {
      width: 100%;
      margin: 0 auto;
    }
    .banner__items div:nth-child(2){
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    }
  }
  
  @media (width <= 768px) {
    .banner__container {
      margin-top: 10rem;
    }
    .banner .banner__items {
      width: 100%;
      display: flex;
      margin: 0 auto;
      gap: 2rem;
      text-align: center;
    }
  }
  
  .banner p {
    color: var(--white-text);
    padding-right: 8rem;
    width: auto;
  }
  
  .tagline {
    color: var(--white-text);
    font-size: clamp(1.5rem, 3vw, 3rem);
    font-weight: 900;
  }
  
  .wrap {
    font-weight: 600;
    color: var(--white-text);
    font-size: clamp(1rem, 3vw, 2rem);
    background-color: var(--main-color);
  }

 
  
  .hero-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 10%;
    animation: updown 3s linear infinite;
  }
  
  @media (width <= 768px) {
    .banner p {
      padding-right: 0;
    }
    .hero-image {
      width: 300px;
      height: 350px;
      object-fit: cover;
      border-radius: 50%;
      animation: updown 3s linear infinite;
    }
  }
  
  @keyframes updown {
    0% {
      transform: translateY(-20px);
    }
    50% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(-20px);
    }
  }
  
  .banner__items button {
    font-weight: 700;
    color: var(--white-text);
    border: 1px solid var(--white-text);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;
  }
  
  .banner__items button {
    z-index: 1;
  }
  
  .banner__items button::before {
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    background-color: var(--white-text);
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }
  
  .banner__items button:hover {
    color: var(--main-color);
  }
  
  .banner__items button:hover::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
  }
  